.home {
	position: relative;
	height: 43.75rem;
	padding: 0 1.5rem;
	background-color: #301934;
	color: #ffff;
}

.home-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 0 1.5rem;
	width: fit-content;
	height: fit-content;
	text-align: center;
}

.home-text > h1 {
	font-size: 2.5rem;
	margin-bottom: .5rem;
}

@media screen and (min-width: 31.25em) {
	.home > h1 {
		font-size: 3rem;
	}
}
@media screen and (min-width: 61.9375em) {
	.home > h1 {
		font-size: 3.5rem;
	}
}
