footer {
	text-align: center;
	background-color: #301934;
	color: #ffff;
	padding-block: 1.5625rem;
}

footer > p {
	font-size: 0.875rem;
}

.heart {
	color: #ef3724;
}

@media screen and (min-width: 47.9375em) {
	footer > p {
		font-size: 1rem;
	}
}
